build.sh
run.sh
start.sh
stop.sh
docker-compose.yml
cidsDistribution/client
cidsDistribution/lib/cidsLibBase
cidsDistribution/lib/classpath
cidsDistribution/lib/ext
cidsDistribution/lib/int
cidsDistribution/lib/m2
cidsDistribution/server